.depoimentosBox{
    width: 100vw;
    height: 40.0rem;
    background-color: white;
}

.depoimentosBox h1{
    color: #006edb;
    font-size: 5.0rem;
}

@media screen and (max-width: 500px) {
    .depoimentosBox h1{
        font-size: 3.5rem;
    }
}

.container{
    display: flex;
    gap: 1.0rem;
    padding: 1.6rem;
}

.card{
    height: 20.0rem;
    background-color: #006edb;
    flex: 1;
    transition: .4s;
    background-image: url('../../assets/perfil.png');
    background-repeat: no-repeat;
}
.card:hover{
    flex: 3;
    background-color: #0058af;
    background-image: url('../../assets/perfil-texto.png');
}


@media screen and (max-width: 500px) {
    .container{
        display: flex;
        flex-direction: column;
    }
   
}