.depoimentosBox{
    width: 100vw;
    height: 40.0rem;
    background-color: white;
}

.depoimentosBox h1{
    color: #006edb;
    font-size: 5.0rem;
}

@media screen and (max-width: 500px) {
    .depoimentosBox h1{
        font-size: 3.5rem;
    }
}