.informacoes{
    width: 100vw;
    height: 50.0rem;
    /* margin-top: 19.0rem; */
    background-image: url('../../assets/fundo-linhas.png');
    background-size: 100vw;
    display: flex;
 
    background-repeat: no-repeat;
     /* visibility: hidden; */
}

.informacoes h1{
    color: #006edb;
    text-align: left;
    font-size: 5.0rem;
    position: absolute;
    margin-left: 9.4rem;
    margin-top: 6.0rem;
   
    
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Iniciar com uma translação para baixo */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Terminar sem translação */
    }
  }

@media screen and (max-width: 500px) {
    .informacoes h1{
        font-size: 2.4rem;
        margin-left: 5.0rem;
        margin-top: 0rem;
        text-align: center;
    }
}

.skills{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    margin-top: 22.0rem;
    padding: 3.6rem;
}

@media screen and (max-width: 700px) {
    .skills{
        display: flex;
        flex-direction: column;
        margin-top: 3.6rem;
    }

    .skills section p{
        width: 25.0rem;
    }
}

.skills section{
    text-align: center;
}

.skills section img{
    width: 9.0rem;
}