.fundo{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.boxTop{
   
}

.txt {
    display: flex;
    flex-wrap: wrap;
   
    color: white;
    width: 100vw;
}

.txt section{
    flex-basis: 55.0rem;
    margin-top: 1.6rem;
}
.txt section h1{
    text-align: left;
    white-space: inherit;
}



h1{
    margin-top: 2.4rem;
    text-align: center;
    color: white;
    font-size: 7.0rem;
    font-weight: 900;
}

strong{
    font-weight: 900;
    background-color: #65c0a3;
  
}

.boxTop{
    display: flex;
    flex-direction: column;
    /* margin-top: 10.0rem; */
    background-image: url(../../assets/fundo-inicio.png) ;
    background-size: 100%;
    width: 100vw;
    height: 110vh;
    background-repeat: no-repeat;
}


.logoBranca{
    /* position: absolute; */
    width: 25.0rem;
    margin: 0 auto;
    margin-top: 5.0rem;
}



#foto h1{
    text-align: center;
}