.fundo{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.txt {
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 85vw;
}

.txt section{
    flex-basis: 55.0rem;
    margin-top: 1.6rem;
  
}
.txt section h1{
    text-align: left;
    white-space: inherit;
}

@media screen and (max-width: 500px) {
    .txt section h1{
        font-size: 3.6rem;
    }
}



h1{
    margin-top: 2.4rem;
    text-align: center;
    color: white;
    font-size: 7.0rem;
    font-weight: 900;
}

strong{
    font-weight: 900;
    background-color: #65c0a3;
  
}

.boxTop{
    display: flex;
    flex-direction: column;
    /* margin-top: 10.0rem; */
    background-image: url(../../assets/fundo-inicio.png) ;
    /* background-size: 100%; */
    background-size: cover;
    width: 100vw;
    height: 110vh;
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
    .boxTop{
        background-position: center;
    }
}

.logoBranca{
    /* position: absolute; */
    width: 25.0rem;
    margin: 0 auto;
    margin-top: 5.0rem;
}



#foto h1{
    text-align: center;
}

@media screen and (max-width: 600px) {
    #foto{
        display: none;
    }

    #textoTempo{
        margin-top: 6.0rem;
    }
}